.adminSubhead{
  background-color: inherit;
  color:white;
}

.adminCrewItem{
  background-color:  rgba(50, 50, 50, 0.3);
  color:white;
}
.editLabelColor{
  color:white;
}

.listDevider{
  background-color: black;
  color:black;
}

.imgContainer{
  max-height: auto;
  max-width: 90px;
  margin:4px;
  padding-right: 20px;
}

.agImg{
  max-width:100%;
  max-height:auto;
}
.btnAdmin{
  background-color: rgba(255, 71, 26, 0.5);
}

.bgInherit{
  background-color: inherit;
}

.bgEdit{
  background-color: rgba(255, 71, 26, 0.7);
}

.editLabel{
  width: 200px;
  color: red;
}

.gamesuggBG{
  background-color: rgba(255, 71, 26, 0.7);
  opacity: 0.9;

}


.mousePointer{
  /*style="cursor:pointer; WHÒ THA FUCK DID THIS!!!!!!!!!!!*/
  cursor:pointer;
}
