<navbar></navbar>
<admin-navbar></admin-navbar>

<div ng-if="!editingCrew">
<div class="headerDiv"><h1>This is the Admin Crew view.</h1></div>
  <div class="headerDiv"><h1>Manage Games</h1></div>
  <md-list>
    <div layout="row">
    <div flex = "10"></div>
    <div flex = "80">
    <md-list-item ng-repeat="crew in Crews" ng-click="editCrew(crew)" class="noright adminCrewItem">
      <div class="imgContainer">
        <img ng-src="{{crew.crewImgUrl}}" class="md-user-avatar agImg" />
      </div>
      <div class="col-md-4">
        <p>{{ crew.name }}</p>
      </div>
      <md-divider class="listDevider"></md-divider>
    </md-list-item>
    </div>
        <div flex = "10"></div>
  </md-list>

</div>
</div>


<div ng-if="editingCrew">
<div class="headerDiv"><h1>Edit {{editingCrew.name}}</h1></div>
  <div class="bgMain">
    <div layout="row">
    <div flex = "20"></div>
    <div flex = "60">
    <form name="editCrewForm">
    <br/>
      <md-input-container flex="50" class="md-block">
        <label>Name</label>
        <input md-maxlength="25" required ng-model="editingCrew.name" name="crewName">
          <div ng-messages="editCrewForm.name.$error" role="alert">
            <div ng-message="required">Crew name is REQUIRED!</div>
            <div ng-message="md-maxlength">The name has be less than 25 characters long.</div>
          </div>
      </md-input-container>
      <md-input-container flex="50" class="md-block">
        <label>Crew Leader</label>
        <input required ng-model="editingCrew.leader" name="crewLeader">
          <div ng-messages="editCrewForm.leader.$error" role="alert">
            <div ng-message="required">Crew Leader is REQUIRED!</div>
          </div>
      </md-input-container>
      <md-input-container flex="100" class="md-block">
        <label>Image</label>
        <input required ng-model="editingCrew.crewImgUrl" name="crewImg">
          <div ng-messages="editCrewForm.crewImgUrl.$error" role="alert">
            <div ng-message="required">Crew image is REQUIRED!</div>
          </div>
      </md-input-container>



    </form>
    </div>
    <div flex = "20"></div>
  </div>
  </div>

  <div layout-gt-xs="row">
  <md-button aria-label="Undo changes" ng-click="undoEditCrew()" class="md-raised md-warning">
    <i class="glyphicon glyphicon-backward"></i>
    Cancel
  </md-button>
  <p flex></p>
  <md-button aria-label="Delete game" class="md-raised md-danger" ng-click="confirmDeleteDialog(editingCrew, $event)">
    <i class="glyphicon glyphicon-trash"></i> Delete
  </md-button>
</div>
<footer></footer>
