<navbar></navbar>
<admin-navbar></admin-navbar>

<div ng-if="!editingCrew">
<div class="headerDiv"><h1>This is the Admin Crew view.</h1></div>
  <div class="headerDiv"><h1>Manage Games</h1></div>
  <md-list>
    <div layout="row">
    <div flex = "10"></div>
    <div flex = "80">
    <md-list-item ng-repeat="crew in Crews" ng-click="editCrew(crew)" class="adminCrewItem">
      <div class="imgContainer">
        <img ng-src="{{crew.crewImgUrl}}" class="md-user-avatar agImg" />
      </div>
      <div class="col-md-4">
        <p>{{ crew.name }}</p>
      </div>
      <md-divider class="listDevider"></md-divider>
    </md-list-item>
    </div>
        <div flex = "10"></div>
  </md-list>
</div>
</div>


<div ng-if="editingCrew">
<div class="headerDiv"><h1>Edit {{editingCrew.name}}</h1></div>
  <div class="bgMain">
    <form name="editCrewForm">
    <div layout="row">
    <div flex = "15"></div>
    <div flex = "30">
    <br/>
      <md-input-container flex="100" class="md-block">
        <label>Crew name</label>
        <input md-maxlength="25" required ng-model="editingCrew.name" name="crewName">
          <div ng-messages="editCrewForm.name.$error" role="alert">
            <div ng-message="required">Crew name is REQUIRED!</div>
            <div ng-message="md-maxlength">The name has be less than 25 characters long.</div>
          </div>
      </md-input-container>

      <md-input-container flex="100" class="md-block">
        <label>Crew image</label>
        <input required ng-model="editingCrew.crewImgUrl" name="crewImg">
          <div ng-messages="editCrewForm.crewImgUrl.$error" role="alert">
            <div ng-message="required">Crew image is REQUIRED!</div>
          </div>
      </md-input-container>

      <md-container flex="100" class="md-block">
        <label>Crew leader:</label>
        <label ng-model="editingCrew" name="crewLeader">
          <p>{{ editingCrew.leader.name }}</p>
      </md-container>

      <md-list>
        <label>Users</label>

        <md-list-item ng-repeat="user in editingCrew.users" class="gamesuggBG">
            <p>{{ user.name }}</p>
          <md-divider class="listDevider"></md-divider>
          <md-button  ng-click="">
            <i class="glyphicon glyphicon-trash"></i>
          </md-button>
        </md-list-item>
      </md-list>

      <md-list>
        <label>Applicants</label>
        <md-list-item ng-repeat="crew in editingCrew.applicants" class="gamesuggBG">
          <p>{{crew.name}}</p>
          <md-divider class="listDevider"></md-divider>
          <md-button  ng-click="">
            <i class="glyphicon glyphicon-trash"></i>
          </md-button>
        </md-list-item>
      </md-list>

    </div>
    <div flex="10"></div>
    <div flex="25">
    <br>

      <md-list>
      <label>Games suggestion: </label>
      <md-list-item ng-repeat="gamesugg in editingCrew.gameSuggestions" ng-click="editGameSuggestion(gamesugg)"  name="CrewGameSuggestion" class="mousePointer">

          <p>{{gamesugg.game.title}}</p>
      </md-list-item>
      </md-list>
      <div ng-if="editingCrewGameSuggestion" class="gamesuggBG">

        <div layout="row">
          <div flex="5"></div>
          <div flex="90">

        <br>
        <label>Expire date: </label>
        <label ng-model="editingCrewGameSuggestion" name="gameSuggExpireDate">
          <p>{{ editingCrewGameSuggestion.expiration }}</p>
        </label>
        <br>

        <md-input-container flex="100" class="md-block">
          <label>Discount: </label>
          <input md-maxlength="2" required ng-model="editingCrewGameSuggestion.discount" name="gameSuggDiscount">
            <div ng-messages="editingCrewGameSuggestion.discount.$error" role="alert">
              <div ng-message="required">Discount is REQUIRED!</div>
              <div ng-message="md-maxlength">Discount must be between 0-99</div>
            </div>
        </md-input-container>

        <md-list>
          <div layout="row">
            <div flex="65"><label>Username</label></div>
          <div flex=""><label>Confirmed</label></div>
        </div>
          <md-list-item ng-repeat="gameSuggUsers in editingCrewGameSuggestion.users">
            <p>{{gameSuggUsers.name}}</p>
            <md-divider class="listDevider"></md-divider>
            <input type="checkbox" ng-click="" ng-model="editingCrewGameSuggestion.users.confirmed" class="mousePointer">
            <md-button  ng-click="">
              <i class="glyphicon glyphicon-trash"></i>
            </md-button>
          </md-list-item>
        </md-list>
        <div layout="row">
        <div flex="35"> <md-button class="btnGameItem" ng-click="undoEditGameSuggestion()">Back</md-button> </div>
        <div flex="40"> <md-button class="btnGameItem" ng-click="">Save changes</md-button> </div>
        <div flex=""> <md-button class="btnGameItem" ng-click="">Delete</md-button> </div>
      </div>
    </div>
      <div flex="5"></div>
      </div>
      </div>

    </div>
    <div flex = "10"></div>
  </div>
  </form>
  </div>
</div>


  <div layout-gt-xs="row">
  <md-button aria-label="Undo changes" ng-click="undoEditCrew()" class="md-raised md-warning">
    <i class="glyphicon glyphicon-backward"></i>
    Cancel
  </md-button>
  <p flex></p>
  <md-button aria-label="Delete game" class="md-raised md-danger" ng-click="confirmDeleteDialog(editingCrew, $event)">
    <i class="glyphicon glyphicon-trash"></i> Delete
  </md-button>
</div>
<footer></footer>
