<navbar></navbar>
<admin-navbar></admin-navbar>
<div ng-if="!orderDetails">


<div class="headerDiv"><h1>Manage Orders</h1></div>

<md-list>
  <div layout="row">
  <div flex=20></div>
  <div flex=60>
    <div layout="row" class="tableHeader">
      <div flex=15></div>
          <div flex=30>
            <h2>Username</h2>
          </div>
          <div flex=30>
            <h2>Date</h2>
          </div>
      </div>
    </div>
</div>

  <div layout="row">
  <div flex=20></div>
  <div flex=60>
    <md-list-item ng-repeat="order in Orders" class="tableContent">
      <div flex=15></div>
      <div flex=30>
        {{order.user.name}}
      </div>
        <div flex=30>
        {{order.date}}
      </div>
      <div flex>
        <md-button ng-click="editDetails(order)" class="md-icon-button" aria-label="Open sample menu">
          <i class="glyphicon glyphicon-edit"></i>
        </md-button>
      </div>
    </md-list-item>
  </div>
  </div>
  </md-list>
  </div>



<div ng-if="orderDetails">
<div class="headerDivSubheader"><h1>Order Details</h1></div>
<div class="headerDivSubheader"><h2>{{orderDetails.user.name}} - {{orderDetails.date}}</h2></div>

  <md-list>
    <div layout="row">
    <div flex=20></div>
    <div flex=60>
    <h2 class="specialh4">Comment</h2>
  <md-list-item class="textField">
  <div>
    {{orderDetails.comment}}
  </div>
  </md-list-item>
  </div>
  </div>
  </md-list>


  <md-list>
    <div layout="row">
    <div flex=20></div>
    <div flex=60>
      <div layout="row" class="tableHeader">
        <md-list-item>
      <div flex=25>
        <h2>Game</h2>
      </div>
      <div flex=25>
        <h2>Platform</h2>
      </div>
      <div flex=25>
        <h2>Amount</h2>
      </div>
      <div flex=25>
        <h2>Price</h2>
      </div>
    </md-list-item>
  </div>
  </div>
</div>

<div layout="row">
<div flex=20></div>
<div flex=60>
  <md-list-item ng-repeat="orderline in orderDetails.orderlines" class="tableContent">
  <div flex=25 >
      {{orderline.game.title}}
  </div>
  <div flex=25 >
      {{orderline.platform.name}}
  </div>
  <div flex=25 >
      {{orderline.amount}}
  </div>
  <div flex=25 >
      {{orderline.platform.price}} kr
  </div>
</md-list-item>
<md-list-item class="tableContentSum">
  <div flex=25>
    Total Price
  </div>
  <div flex=50></div>
  <div flex=25>
    {{calculateTotalPrice(orderDetails)}} kr
  </div>
</md-list-item>
</div>
</div>
</md-list>
<div layout="row">
  <div flex=70></div>
  <md-button aria-label="Undo changes" ng-click="undoOrderDetails()" class="button">
    Back
  </md-button>

  <md-button aria-label="Delete game" class="button" ng-click="confirmDeleteDialog(orderDetails, $event)">
    Delete
  </md-button>
</div>




</div>



<footer></footer>
