.gameBackgroundLogo {
  position: fixed;
	width: 1900px;
	height: 1060px;
  bottom: -1;
  right: 0;
	opacity: 0.1;
}

.welcome {
  color:white
}

.container {
  width:50%;
  height: auto;
}

.iconify {
  border-radius: 50%;
    border: 5px solid #DC0B00;
    background-color: #000000;
    margin: 20px;
}

#crewNames {
    font-style: italic;
    font-weight: bold;
    color:#E1B400;
    padding-top:2px;
}

#crewInfo {
    color:white;
}
