.welcome {
  color:white
}

.container {
  width:50%;
  height: auto;
}

.iconify {
  border-radius: 50%;
    border: 5px solid #DC0B00;
    background-color: #000000;
    margin: 7px;
}

#crewNames {
    font-style: italic;
    font-weight: bold;
    color:white;
    padding-top:30px;
}

#crewInfo {
    color:white;
}

p span
{
    display: block;
}
