<head>
  <link rel="stylesheet" type="text/css" href="dialog.css">
</head>


<md-dialog aria-label="MVO Games"  ng-cloak>

  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>{{selectedGame.title}}</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
        <div layout="row" layout-xs="column">
          <div flex="40">
            <img class="dialogImg" src="{{selectedGame.coverUrl}}">
          </div>
          <div flex="50">
            <h2>Shit</h2>
            <p>
            {{selectedGame.info}}
            </p>
          </div>

          <div flex="10" ng-repeat="platform in selectedGame.platforms">
            <h4>{{platform.name}}</h4>
          </div>
      </div>
    </div>
    </md-dialog-content>


    <md-dialog-actions layout="row" class="btnArea backgroundL">
      <md-button class="md-warn" ng-click="cancel()">
        Close
      </md-button>
      <span flex></span>
      <md-select placeholder="Buy with your crew" ng-model="crew" md-on-open="loadCrews()" style="min-width: 200px;">
      <md-option ng-value="crew" ng-repeat="crew in crews">{{crew.name}}</md-option>
    </md-select>
      <md-button ng-if="isCustomer()" ng-click="answer('useful')" class="btnDialog">
        Buy
      </md-button>
    </md-dialog-actions>
  </form>

</md-dialog>
