<head>
  <link rel="stylesheet" type="text/css" href="dialog.css">
</head>


<md-dialog aria-label="MVO Games"  ng-cloak>

  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>{{selectedGame.title}}</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
        <div layout="row" layout-xs="column">
          <div flex="25" class="dialogRight">
            <img class="dialogImg" src="{{selectedGame.coverUrl}}">
          </div>
          <div flex="50" class="dialogMid">
            <h2>Game info</h2>
            </br>
            <p>
            {{selectedGame.info}}
            </p>
          </br>
            <h2>Game price: </h2>
            <p ng-if="!selectedPlatform">Please select a platform</p>
            <p ng-if="selectedPlatform">DKK {{selectedPlatform.price}},-</p>




          </div>
          <div flex="25" class="dialogRight" >
            <h2>Available platforms</h2>
          </br>
            <md-radio-group ng-model="selectedPlatform">
      <md-radio-button ng-repeat="platform in selectedGame.platforms"
                      ng-value="platform"
                       aria-label="{{platform.name}}">

          <img id="platformLogo" src="{{platform.platformImgUrl}}"></img>
      </md-radio-button>
    </md-radio-group>
          </div>
      </div>
    </div>
    </md-dialog-content>


    <md-dialog-actions layout="row" class="btnArea backgroundL">
      <md-button class="md-warn" ng-click="cancel()">
        Close
      </md-button>
      <span flex></span>
      <md-button ng-if="isCustomer()" ng-click="answer()" class="btnDialog">
        Buy
      </md-button>
    </md-dialog-actions>
  </form>

</md-dialog>
