.gameItem{
  background: rgba(255, 71, 26, 0.7);
  max-height: 500px;
  max-width: 250px;

}
.gameItem img{
  max-height: 280px;
}
.gameItem p, h1, h2, h3,{
  color:white;
}
.btnGameItem{
  background-color: black;
  color:white;
}


.dialogdemoBasicUsage #popupContainer {
  position: relative; }
.dialogdemoBasicUsage .footer {
  width: 100%;
  text-align: center;
  margin-left: 20px; }
.dialogdemoBasicUsage .footer, .dialogdemoBasicUsage .footer > code {
  font-size: 0.8em;
  margin-top: 50px; }
.dialogdemoBasicUsage button {
  width: 200px; }
.dialogdemoBasicUsage div#status {
  color: #c60008; }
