<navbar></navbar>
<admin-navbar></admin-navbar>

<div ng-if="!editingGame">

<div class="headerDiv"><h1>Manage Games</h1></div>

<md-list>
 <md-divider></md-divider>
 <md-list-item ng-repeat="game in Games" class="adminGameItem">
   <div class="imgContainer">
   <img alt="{{ game.title }}" ng-src="{{ game.coverUrl }}" class="md-user-avatar agImg" />
 </div>
 <div class="col-md-3">
   <p>{{ game.title }}</p>
 </div>
 <div class="col-md-8">
   <p>{{game.info}}</p>
 </div>
 <div class="col-md-1">
   <md-button ng-click="editGame(game)" class="md-icon-button" aria-label="Open sample menu">
     <i class="glyphicon glyphicon-pencil"></i>
        </div>
   </md-button>
 <md-divider class="listDevider"></md-divider>
 </md-list-item>
</md-list>
</div>

<div class="editGameContent" ng-if="editingGame">
  <div class="headerDiv"><h1>Edit {{editingGame.title}}</h1></div>
     <div class="bgMain">
       <div layout="row">
         <div flex="15">
         </div>

         <div flex="80">
       <form name="editGameForm">
         <div layout="row">
         <div flex="60">
         <br/>

         <md-input-container class="md-block">
         <label>Title</label>
         <input md-maxlength="25" required ng-model="editingGame.title" type="text" name="gameTitle">
       <div ng-messages="editGameForm.title.$error" role="alert">
         <div ng-message="required">Game title is REQUIRED!</div>
         <div ng-message="md-maxlength">The title has be less than 25 characters long.</div>
       </div>
       </md-input-container>

       <md-input-container class="md-block">
       <label>Game description</label>
       <input md-maxlength="200" required ng-model="editingGame.info" type="text" name="gameTitle">
     <div ng-messages="editGameForm.info.$error" role="alert">
       <div ng-message="required">Game description is REQUIRED!</div>
       <div ng-message="md-maxlength">The description has be less than 200 characters long.</div>
     </div>
     </md-input-container>

     <md-input-container class="md-block">
     <label>Game Cover Url</label>
     <input md-maxlength="200" required ng-model="editingGame.coverUrl" type="text" name="gameCoverUrl">
   <div ng-messages="editGameForm.coverUrl.$error" role="alert">
     <div ng-message="required">Game cover is REQUIRED!</div>
     <div ng-message="md-maxlength">The cover url has be less than 120 characters long.</div>
   </div>
   </md-input-container>

   <md-input-container class="md-block">
   <label>Game Trailer Url</label>
   <input md-maxlength="200" required ng-model="editingGame.trailerUrl" type="text" name="gameTrailerUrl">
 <div ng-messages="editGameForm.trailerUrl.$error" role="alert">
   <div ng-message="required">Game trailer is REQUIRED!</div>
   <div ng-message="md-maxlength">The trailer url has be less than 120 characters long.</div>
 </div>
 </md-input-container>


<h2 class="md-title">Select genres</h2>
   <md-chips ng-model="editingGame.genres" md-autocomplete-snap
             md-transform-chip="transformChip($chip)"
             md-require-match="autocompleteDemoRequireMatch">
     <md-autocomplete
         md-selected-item="selectedGenre"
         md-search-text="genreSearchText"
         md-items="genre in querySearch(genreSearchText)"
         md-item-text="genre.name"
         placeholder="Search for a genre">
       <span md-highlight-text="genreSearchText">{{genre.name}}</span>
     </md-autocomplete>
     <md-chip-template>
       <span>
         <strong>{{$chip.name}}</strong>
       </span>
     </md-chip-template>
   </md-chips>

   <p>
     <md-checkbox ng-model="autocompleteDemoRequireMatch">
       USE ONLY EXISTING GENRES (Disable to add a new genre)
     </md-checkbox>
   </p>
   <br />
   <h2 class="md-title">Genre Options</h2>
   <md-list>
     <md-list-item  ng-repeat="g in filterGenres" layout="row">
       <div  flex>
         <h3>{{g.name}}</h3>
       </div>
     </md-list-item>
   </md-list>
 </div>

  <div flex="5">
  </div>

   <div flex="25">
   </br>
 </br>
 <label>Release date</label>

   <md-datepicker class="bgInherit" ng-model="editingGame.releaseDate" md-placeholder="Enter date">
   </md-datepicker>

   <md-input-container class="md-block">
   <label>Choose available platforms</label>
   </br>
    <md-list-item ng-repeat="platform in editingGame.platforms">
      <img class="md-avatar" src="{{platform.platformImgUrl}}"></img>
      <p> {{ platform.name }} </p>
      <md-switch class="md-warn" active></md-switch>
    </md-list-item>
   </md-input-container>

  </div>
  </div>
       </form>
     </div>
   <div flex>
   </div>
   </div>
     </div>
     <div layout-gt-xs="row">
     <md-button aria-label="Undo changes" ng-click="undoEditGame()" class="md-raised md-warning">
       <i class="glyphicon glyphicon-backward"></i>
       Back
     </md-button>
    <p flex></p>
    <md-button aria-label="Save changes" ng-click="updateGame()" class="md-raised md-primary">
      <i class="fa fa-floppy-o"></i> Save changes
    </md-button>
     <md-button aria-label="Delete game" class="md-raised md-danger" ng-click="confirmDeleteDialog(editingGame, $event)">
       <i class="glyphicon glyphicon-trash"></i> Delete
     </md-button>
   </div>
 </div>


<footer></footer>
